{{ template "header.gotmpl" . }}
        <header class="header">
            <h1>{{ .Page.Metadata.Title }}</h1>
            <p>Software Developer & Technology Enthusiast</p>
        </header>
        <div class="content">
            {{ .Page.Content }}
        </div>
{{ template "footer.gotmpl" . }}